.filter {
    height: 36px;
    width: 36px;
    border: 0;
    background-color: #FCFCFC;

    display: flex;
    justify-content: center;
    align-items: center;
    

    cursor: pointer;
    border-radius: 4px;

    background-color: var(--input-bg);
}

.filter img {
    width: 20px;
    height: auto;
}
